@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Poppins:wght@500;600;700;800;900&family=Raleway:wght@300;400;500;600;700;800&display=swap");

:root {
  --primary-color: rgb(83, 232, 139);
  --title-color: rgb(102, 102, 102);
  --text-color: rgb(221, 207, 207);
  --text-hover-color: rgb(99, 94, 94);
  --linier-gradient: linear-gradient(
    180deg,
    rgba(83, 232, 139, 1) 24%,
    rgba(255, 255, 255, 0) 100%
  );
  --button-color: linear-gradient(
    130deg,
    rgba(83, 232, 139, 1) 0%,
    rgba(21, 190, 119, 1) 100%
  );
  --text-white: #fff;
  --black-background: rgb(0, 0, 0);

  --body-font: "Open Sans", sans-serif;
  --second-font: "Poppins", sans-serif;

  --large-font-size: 18px;
  --normal-font-size: 16px;
  --small-font-size: 15px;
  --smaller-font-size: 14px;
  --tiny-font-size: 12px;

  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;
  --weight-800: 800;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  background-color: transparent;
}

body {
  background-color: var(--black-background);
  font-family: var(--body-font);
  overflow: hidden;
  overflow-y: scroll;
  font-weight: 500;
}

a {
  font-size: var(--a-font-size);
  color: var(--white-color);
}

h1,
h2,
h3,
/* h4,
h5,
h6, */
span {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  font-family: var(--second-font);
}

img {
  width: 100%;
}

.gird {
  display: grid;
  gap: 30px;
}

li {
  overflow: hidden;
}

span {
  display: block;
}

p {
  font-size: var(--p-font-size);
  font-family: var(--second-font);
}

.white {
  color: #fff !important;
}

.black {
  color: #000 !important;
}

.d__flex {
  display: flex;
}

.align__items__center {
  align-items: center;
}

.justify__content__center {
  justify-content: center;
}

.justify__content__space__between {
  justify-content: space-between;
}

.mx__15 {
  margin: 0px 15px;
}

.px__30 {
  padding: 0px 30px;
}

.pxy__30 {
  padding: 30px;
}

.container {
  width: 92%;
  margin: 0px auto;
}

.pz__10 {
  padding: 10px 0px;
}
.sweet {
  color: #53e88b;
}
.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  overflow: hidden;
  align-items: flex-start;
  justify-content: center;
}
.col__2 {
  max-width: 50%;
  display: flex;
  padding: 20px;
  justify-content: center;
  flex-direction: column;
}
.col__3 {
  max-width: 33.333333%;
  display: flex;
  padding: 20px;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}
.component__space {
  padding: 90px 0px;
}
.pointer {
  cursor: pointer;
}
svg {
  stroke-width: 1 !important;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
strong {
  color: #53e88b;
  font-weight: 600;
}
input {
  color: rgba(198, 201, 216, 0.75);
}
/* button.btn {
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  border: 2px solid #53e88b !important;
  background: rgb(83, 232, 139) !important;
  background: linear-gradient(
    130deg,
    rgba(83, 232, 139, 1) 0%,
    rgba(21, 190, 119, 1) 100%
  );
  color: #fff !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.4s all ease;
  height: 50px;
  width: 180px;
  margin: 0px 10px;
} */
.p__color {
  color: rgba(198, 201, 216, 0.75);
  font-size: 18px;
  line-height: 30px;
  font-family: Poppins, sans-serif;
  margin-bottom: 15px;
}
/* button.about.btn.pointer:hover {
  background: #fff !important;
  color: #000 !important;
} */

.button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
  color: var(--text-color);
  border: 1px solid var(--primary-color);
  padding: 15px 70px 15px 35px;
  border-radius: 35px;
  font-family: var(--second-font);
  font-size: var(--small-font-size);
  font-weight: var(--weight-500);
  position: relative;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
  margin-top: 10px;
}

.button:hover {
  color: var(--text-hover-color);
}

.button:before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--primary-color);
  transform: translateX(100%);
  z-index: -1;
  transition: all 0.3s ease-out;
}

.button:hover::before {
  transform: translateX(0);
}

.button__icon {
  background-color: var(--primary-color);
  position: absolute;
  inset-block: -2px;
  right: 0;
  width: 55px;
  border-radius: 50%;
  font-size: var(--large-font-size);
  text-align: center;
  line-height: 60px;
}

/* RESPONSIVE */
@media only screen and (max-width: 768px) {
  .col__2 {
    max-width: 100%;
  }
  .p__color {
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .col__3 {
    max-width: 50%;
  }
  button.btn {
    text-align: center;
  }
}
@media only screen and (max-width: 425px) {
  .col__3 {
    max-width: 100%;
  }
}
@media only screen and (max-width: 425px) {
  span.copyright {
    font-size: 13px !important;
  }
  .footer.d__flex.align__items__center.justify__content__space__between.pz-10 {
    flex-wrap: wrap;
  }
  .row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .col__2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
