@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  /* place-items: center;
  background-color: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%); */
}
.SocialMedia__Wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.SocialMedia__Button {
  display: inline-block;
  border-radius: 50px;
  margin: 21px 0;
  height: 60px;
  width: 60px;
  overflow: hidden;
  background: rgba(198, 201, 216, 0.3);
  border-radius: 50px;
  cursor: pointer;
  box-shadow: -5px -5px 20px 0 rgba(0, 0, 0, 0.9),
    5px 5px 20px 0 rgba(0, 0, 0, 0.9), 5px 5px 20px 0 rgba(255, 255, 255, 0.3);
  transition: all 0.4s ease-out;
  border: 0.1px solid rgba(198, 201, 216, 0.75);
}

.SocialMedia__Wrapper .SocialMedia__Button:hover {
  width: 300px;
  transition: all 0.4s ease-out;
}

.SocialMedia__Wrapper .SocialMedia__Button:hover span {
  margin-top: -40px;
  margin-left: 65px;
}

.SocialMedia__Wrapper .SocialMedia__Button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  background-color: #333;
  border-radius: 50px;
  text-align: center;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
  box-shadow: -7px -7px 20px 0;
}
.SocialMedia__Wrapper .SocialMedia__Button:hover .icon {
  background: rgb(83, 232, 139);
  background: -webkit-linear-gradient(
    130deg,
    rgba(83, 232, 139, 1) 0%,
    rgba(21, 190, 119, 1) 100%
  );
}

.SocialMedia__Wrapper .SocialMedia__Button .icon i {
  font-size: 25px;
  line-height: 60px;
  color: rgba(198, 201, 216, 0.75);
  transition: all 0.3s ease-out;
}
.SocialMedia__Wrapper .SocialMedia__Button:hover .icon i {
  color: #fff;
}

.SocialMedia__Wrapper .SocialMedia__Button span {
  font-size: 19px;
  font-weight: 500;
  line-height: 20px;
  margin-left: 10px;
  background: rgb(83, 232, 139);
  background: -webkit-linear-gradient(
    130deg,
    rgba(83, 232, 139, 1) 0%,
    rgba(21, 190, 119, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-out;
}

.SocialMedia__Wrapper .SocialMedia__Button:nth-child(2) span {
  font-size: 15.3px;
}

.SocialMedia__Wrapper .SocialMedia__Button span a {
  color: #4267b2;
}

.SocialMedia__Wrapper .SocialMedia__Button:nth-child(1):hover span {
  color: #4267b2;
}
.SocialMedia__Wrapper .SocialMedia__Button:nth-child(2):hover span {
  color: #4267b2;
}
.SocialMedia__Wrapper .SocialMedia__Button:nth-child(3):hover span {
  color: #333;
}
.SocialMedia__Wrapper .SocialMedia__Button:nth-child(3):hover span {
  color: #4267b2;
}

@media only screen and (max-width: 425px) {
  .SocialMedia__Button {
    margin: 16px 0;
    height: 45px;
    width: 45px;
  }
  .SocialMedia__Wrapper .SocialMedia__Button .icon {
    height: 45px;
    width: 45px;
    line-height: 45px;
  }
  .SocialMedia__Wrapper .SocialMedia__Button .icon i {
    font-size: 18px;
    line-height: 45px;
  }
  .SocialMedia__Wrapper .SocialMedia__Button span {
    font-size: 15.3px;
  }
  .SocialMedia__Wrapper .SocialMedia__Button:hover span {
    margin-top: -35px;
    margin-left: 65px;
  }
}
/* 
.SocialMedia__Button {
  background-color: #ffffff;
  display: inline-block;
  border-radius: 50px;
  margin: 20px 0;
  height: 60px;
  width: 60px;
  overflow: hidden;
  transition: 0.5s;
  box-shadow: 5px 5px 11px #1a787b, -5px -5px 11px #40ffff;
}
.icon {
  height: 60px;
  width: 60px;
  background-color: #ffffff;
  display: inline-block;
  border-radius: 50px;
  text-align: center;
  box-sizing: content-box;
  line-height: 60px;
  font-size: 20px;
}
span {
  font-weight: bold;
  margin: 0 20px;
  font-size: 17px;
  color: #000;
}
.SocialMedia__Button:hover {
  width: 200px;
}
.SocialMedia__Button:nth-child(1):hover .icon {
  background-color: red;
  color: white;
}
.SocialMedia__Button:nth-child(2):hover .icon {
  background-color: #e7d10d;
  color: white;
}
.SocialMedia__Button:nth-child(3):hover .icon {
  background-color: #1b17f7;
  color: white;
}
.SocialMedia__Button:nth-child(4):hover .icon {
  background-color: #9d17f7;
  color: white;
}
.SocialMedia__Button:nth-child(5):hover .icon {
  background-color: #3aff08;
  color: white;
}
.SocialMedia__Button:nth-child(6):hover .icon {
  background-color: #ff00dd;
  color: white;
} */
